{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/headphone.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Headphones</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/watch.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Smartwatches</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/computer.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Computer accessories</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/camera.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Camera</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/laptop.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Laptops</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/computer.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Printers & Moniters</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>
</div>

{% endblock content %}