{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/grocery.jpg' %}">
        <div class="box-element product">
            <h6><strong>Grocery</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/house.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Household essentials</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/nutrition.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Nutritions</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/fruits.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Fruits</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/oil.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Cooking Oil</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/tea.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Tea & Coffee</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>
</div>

{% endblock content %}