{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/men.jpg' %}">
        <div class="box-element product">
            <h6><strong>Men's Clothing</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/women.jpg' %}">
        <div class="box-element product">
            <h6><strong>Women's Clothing</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/footwear.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Footwear</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/jweal.jpg' %}">
        <div class="box-element product">
            <h6><strong>Jewellery</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/kids.jpg' %}">
        <div class="box-element product">
            <h6><strong>Kids Fashion</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/sung.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Sunglasses</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>
</div>

{% endblock content %}