{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/samsung.jpg' %}">
        <div class="box-element product">
            <h6><strong>Samsung</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/apple.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Apple</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/oneplus.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Oneplus</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/redmi.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Redmi</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/oppo.jpg' %}">
        <div class="box-element product">
            <h6><strong>Oppo/Vivo/Realme</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/top_deals.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Top offers</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>
</div>

{% endblock content %}