{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/deal.png' %}">
        <div class="box-element product">
            <h6><strong>Deal of the day</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/10.jpeg' %}">
        <div class="box-element product">
            <h6><strong>10% off</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/50.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Luxury Brand upto 50% off</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/299.png' %}">
        <div class="box-element product">
            <h6><strong>Products under 299</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/599.jpg' %}">
        <div class="box-element product">
            <h6><strong>Products under 599</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/999.jpeg' %}">
        <div class="box-element product">
            <h6><strong>Products under 999</strong></h6>
            <hr>

            
            <a class="btn btn-outline-success" href="#">View</a>

        </div>
    </div>
</div>

{% endblock content %}